{% extends 'tasktracker/base.html' %}
{% block title %}
    Tasklist
{% endblock %}

{% block settings %}
    <div class="btn-group my-2 mx-2" role="group" aria-label="Button group with nested dropdown" id="current_period">
        <button type="button" class="btn btn-secondary">Day</button>
        <button type="button" class="btn btn-secondary">Week</button>
        <button type="button" class="btn btn-secondary">Month</button>
        <button type="button" class="btn btn-secondary">Year</button>
        <button type="button" class="btn btn-secondary">Global</button>
        <button type="button" class="btn btn-secondary">Free</button>
        <button type="button" class="btn btn-secondary"><< Prev</button>
        <button type="button" class="btn btn-secondary">Current</button>
        <button type="button" class="btn btn-secondary">Next >></button>
    
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">All</a>
                <a class="dropdown-item" href="#">Habits</a>
                {% for tag in tags %}
                <a class="dropdown-item">{{tags}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal trigger -->
    <div class="btn-group float-right my-2 mx-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id="edit_task_button">Create task</button>
        <button type="button" class="btn btn-secondary">Load tasks</button>
        <button type="button" class="btn btn-secondary">Synchronize</button>
    </div>
  
    <!-- Modal -->
    <div class="modal fade bd-modal-lg" id="create_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter task parameters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" id="task_description_area">
                        <label for="exampleFormControlTextarea1">Task description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>
                </form>

                <!-- Task settings -->
                <div class="btn-group" role="group" id="task_settings">
                    
                    <!-- Priority -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="task_priority_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Medium</button>
                        <div class="dropdown-menu" aria-labelledby="task_priority_dropdown_button" id="dropdownMenu1">
                            <a class="dropdown-item" href="#">Low</a>
                            <a class="dropdown-item" href="#">Medium</a>
                            <a class="dropdown-item" href="#">High</a>
                        </div>
                    </div>

                    <!-- Traking type  -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="traking_type_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Untracked</button>
                        <div class="dropdown-menu" aria-labelledby="traking_type_dropdown_button">
                            <a class="dropdown-item" href="#">Untracked</a>
                            <a class="dropdown-item" href="#">Fixed</a>
                            <a class="dropdown-item" href="#">Period</a>
                        </div>
                    </div>

                    <!-- Period -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="task_period_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Day</button>
                        <div class="dropdown-menu" aria-labelledby="task_period_dropdown_button">
                            <a class="dropdown-item" href="#">Day</a>
                            <a class="dropdown-item" href="#">Week</a>
                            <a class="dropdown-item" href="#">Month</a>
                            <a class="dropdown-item" href="#">Year</a>
                            <a class="dropdown-item" href="#">Decade</a>
                            <a class="dropdown-item" href="#">Global</a>
                            <a class="dropdown-item" href="#">Free</a>
                        </div>
                    </div>

                    <!-- Is habit -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="task_type_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Untracked</button>
                        <div class="dropdown-menu" aria-labelledby="task_type_dropdown_button">
                            <a class="dropdown-item" href="#">Simple</a>
                            <a class="dropdown-item" href="#">Template</a>
                            <a class="dropdown-item" href="#">Decomposite</a>
                        </div>
                    </div>

                </div>

                <template id="datetime_select">
                    <div class="datetime-forms">
                        <div class="mr-2 my-2">
                            <label>Datetime start: </label>
                        </div>
                    
                        <div class="input-group date mr-2 my-2" id="dt" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" id="datetimeinput"/>
                            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>  
                    </div>             
                </template>
                
                <template id="time_select">
                    <div class="datetime-forms">
                        <div class="mr-2 my-2">
                            <label>Time for task: </label>
                        </div>
                    
                        <div class="input-group date mr-2 my-2" id="dt" data-target-input="nearest">
                            <input type="text" class="form-control timepicker" data-target="#timepicker1" id="timeinput1"/>
                        </div>  
                    </div>        
                </template>

                <!-- Datetime start -->
                <!-- <div class="mr-2 my-2">
                    <label>Datetime start: </label>
                </div>
            
                <div class="input-group date mr-2 my-2" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="datetimeinput1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div> -->
                
                <!-- Datetime end -->
                <!-- <div class="mr-2 my-2">
                    <label>Datetime end: </label>
                </div>

                <div class="input-group date mr-2 my-2" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" id="datetimeinput2"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div> -->

                <template id="decomposite_task">
                    <div class="decomp-task-forms mr-2 my-2">
                        <label>Parent task: </label>
                        <form class="form-inline" id="parent_task_form">
                            <input class="form-control mr-sm-2" type="search" placeholder="parent task" id="parent_task_input">
                        </form>    
                    </div>
                </template>

                <!-- Decomposite task -->
                <!-- <div class="mr-2 my-2">
                    <label>Parent task: </label>
                    <form class="form-inline" id="parent_task_form">
                        <input class="form-control mr-sm-2" type="search" placeholder="parent task" id="parent_task_input">
                    </form>    
                </div> -->

                <!-- Template --> 
                <template id="template_task">
                    <div class="template-task-forms">
                        <div class="mr-2 my-2">
                            <label>Template: </label>
                        </div>
        
                        <div class="mr-2 my-2">
        
                            <!-- Template intervals -->
                            <div class="input-group date mr-2 my-2" id="active_days_form2">
                                <input type="text mr-sm-2" class="form-control" placeholder="active days" id="active_days_input2"/>
                            </div>
        
                            <!-- Exclude selected -->
                            <div class="custom-control custom-checkbox mr-2 my-2">
                                <input type="checkbox" class="custom-control-input" id="exclude_selected2">
                                <label class="custom-control-label" for="exclude_selected2">Exclude selected</label>
                            </div>
        
                            <!-- Template counter -->
                            <div class="input-group date mr-2 my-2" id="repeat_counter">
                                <input type="text mr-sm-2" class="form-control" placeholder="repeat counter" id="repeat_counter_form"/>
                            </div>
        
                        </div>
                    </div>
                </template>
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="create_task_modal_close_button">Close</button>
            <button type="button" class="btn btn-primary"id="create_task_modal_save_button">Create task</button>
            </div>
        </div>
        </div>
    </div>

    <template id="list_elem_templ">
        <li class="list-group-item d-flex align-items-center contain">
            <button type="button" class="btn btn-success">Run</button>
            <div class="media-body">
                <!-- Description -->
            </div>             
            <div class="custom-control custom-checkbox pmd-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox" value="" id="defaultCheck" unchecked>
                <label class="custom-control-label" for="defaultCheck"></label>
            </div>
            <ul class="list-group pmd-list pmd-card-list pmd-list-avatar"></ul>         
        </li>
    </template>

    <!-- <template id="list_elem_templ">
        <li class="list-group-item d-flex align-items-center">
            <button type="button" class="btn btn-success">Run</button>
            <div class="media-body">
                Description
            </div>  
            <div class="custom-control custom-checkbox pmd-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox" value="" id="defaultCheck" unchecked>
                <label class="custom-control-label" for="defaultCheck"></label>
            </div>
            <div class="contain">
                <div class="break"></div>
                <ul class="list-group pmd-list pmd-card-list pmd-list-avatar"></ul>
            </div>           
        </li>
    </template> -->


    <ul class="list-group pmd-list pmd-card-list pmd-list-avatar " id="current_tasklist">
        <!-- Empty list -->
    </ul>

{% endblock %}
