body { background: #c7b39b url(skyrim.jpg); }

#current_tasklist .descr {
    float: left;
    text-align: center;
    margin: 0 2.5%;
}

.prior_low {
    color: rgb(196, 235, 21); 
}

.prior_high {
    color: rgb(216, 14, 14);
}

#current_tasklist .start_time {
    float: left;
    text-align: center;
    margin-left: 0 2.5%;
}

#current_tasklist .end_time {
    float: left;
    text-align: center;
    margin: 0 2.5%;
}

#current_tasklist .lost_time {
    float: right;
    text-align: center;
    color: rgb(216, 14, 14);
}

.op_text  {
    opacity: 0.3;
}

.subtask1 {
    margin: 0 2.5%;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.break {
    width: 100%;
    height: 0%;
    padding-bottom: 1%;
}

.sublist {
    margin-top: 0 5%;
}

.list-group-item {
    border-radius: 25px;
    border: 2px solid #73AD21;
}